Package: info6005-cw1-ep4g11
Version: 1.2
Architecture: all
Maintainer: Eleftherios Panagoulis <ep4g11@soton.ac.uk>
Installed-Size: 80
Depends: php5-cli
Section: web
Priority: extra
Description: RSS Feed Reader running from command line.
 RSS Feed Reader running from command line. By default shows
 the 10 last news titles published on BBC website.
