Source: info6005-cw1-ep4g11
Section: web
Priority: extra
Maintainer: Eleftherios Panagoulis <ep4g11@soton.ac.uk>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3

Package: info6005-cw1-ep4g11
Architecture: all
Depends: php5-cli
Description: RSS Feed Reader running from command line.
 RSS Feed Reader running from command line. By default shows 
 the 10 last news titles published on BBC website.
